VITE_SPREADSHEET_ID=your_spreadsheet_id_here
VITE_GOOGLE_API_KEY=your_google_api_key_here
VITE_AD_SPEND_SPREADSHEET_ID=your_marketplace_tracker_spreadsheet_id_here
VITE_D2C_AD_SPEND_SPREADSHEET_ID=your_d2c_gmv_tracker_spreadsheet_id_here
VITE_MEESHO_AD_SPEND_SPREADSHEET_ID=your_meesho_ad_spend_spreadsheet_id_here
